<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ziyuan.mapper.CustomTweetMapper">
    <select id="select5nextTweetIds" resultType="java.lang.String">
        select tweet_id
        from tweet
        where user_id = #{userId}
          and tweet_id &lt; #{tweetId}
        order by tweet_id desc limit 5
    </select>
</mapper>