<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ziyuan.mapper.RelationMapper">
    <resultMap id="BaseResultMap" type="com.ziyuan.pojo.Relation">
        <id column="relation_id" jdbcType="VARCHAR" property="relationId"/>
        <result column="from_user_id" jdbcType="VARCHAR" property="fromUserId"/>
        <result column="to_user_id" jdbcType="VARCHAR" property="toUserId"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        relation_id
        , from_user_id, to_user_id
    </sql>
    <select id="selectByExample" parameterType="com.ziyuan.pojo.RelationExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from relation
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from relation
        where relation_id = #{relationId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete
        from relation
        where relation_id = #{relationId,jdbcType=VARCHAR}
    </delete>
    <delete id="deleteByExample" parameterType="com.ziyuan.pojo.RelationExample">
        delete from relation
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.ziyuan.pojo.Relation">
        insert into relation (relation_id, from_user_id, to_user_id)
        values (#{relationId,jdbcType=VARCHAR}, #{fromUserId,jdbcType=VARCHAR}, #{toUserId,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.ziyuan.pojo.Relation">
        insert into relation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="relationId != null">
                relation_id,
            </if>
            <if test="fromUserId != null">
                from_user_id,
            </if>
            <if test="toUserId != null">
                to_user_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="relationId != null">
                #{relationId,jdbcType=VARCHAR},
            </if>
            <if test="fromUserId != null">
                #{fromUserId,jdbcType=VARCHAR},
            </if>
            <if test="toUserId != null">
                #{toUserId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.ziyuan.pojo.RelationExample" resultType="java.lang.Long">
        select count(*) from relation
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update relation
        <set>
            <if test="record.relationId != null">
                relation_id = #{record.relationId,jdbcType=VARCHAR},
            </if>
            <if test="record.fromUserId != null">
                from_user_id = #{record.fromUserId,jdbcType=VARCHAR},
            </if>
            <if test="record.toUserId != null">
                to_user_id = #{record.toUserId,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update relation
        set relation_id = #{record.relationId,jdbcType=VARCHAR},
        from_user_id = #{record.fromUserId,jdbcType=VARCHAR},
        to_user_id = #{record.toUserId,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.ziyuan.pojo.Relation">
        update relation
        <set>
            <if test="fromUserId != null">
                from_user_id = #{fromUserId,jdbcType=VARCHAR},
            </if>
            <if test="toUserId != null">
                to_user_id = #{toUserId,jdbcType=VARCHAR},
            </if>
        </set>
        where relation_id = #{relationId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ziyuan.pojo.Relation">
        update relation
        set from_user_id = #{fromUserId,jdbcType=VARCHAR},
            to_user_id   = #{toUserId,jdbcType=VARCHAR}
        where relation_id = #{relationId,jdbcType=VARCHAR}
    </update>
</mapper>